<suite name="Playwright Java Test">
<parameter name="env" value="qa"/>
	<listeners>
		<listener class-name="com.retry.AnnotationTransformer" />
	</listeners>
	<test name="Auth Setup">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.setup.AuthSetup" />
		</classes>
	</test>
	<test name="Playwright Java Tests">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.tests.HomeTest" />
		</classes>
	</test>
</suite>